.main {
  padding: 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  .container {
    perspective: 1000px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .card {
      transform-style: preserve-3d;
      width: 25rem;
      padding: 2.5rem;
      border-radius: 15px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      position: relative;
      .sneaker {
        min-height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-out;
      }
      .circle {
        width: 15rem;
        height: 15rem;
        background: linear-gradient(
          to right,
          rgba(245, 70, 66, 0.75),
          rgba(8, 83, 156, 0.75)
        );
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
      .info {
        margin: 2rem 0;
        transition: all 0.5s ease-out;
        perspective: 1000px;
        transform-style: preserve-3d;
        .title {
          transition: all 0.5s ease-out;
          font-size: 1.8rem;
          font-weight: 800;
          letter-spacing: 1px;
        }
        .description {
          font-size: 0.8rem;
          font-weight: 300;
          margin: 1.4rem 0;
          color: #585858;
          transition: all 0.5s ease-out;
        }
        .sizes {
          display: flex;
          justify-content: space-between;
          transition: all 0.5s ease-out;
          margin-top: 1.5rem;
          button {
            font-family: inherit;
            padding: 0.5rem 1rem;
            border: none;
            background: none;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            cursor: pointer;
            font-weight: 800;
            color: #585858;
          }
          .active {
            background: #585858;
            color: white;
          }
        }
        .purchase {
          margin-top: 4rem;
          display: flex;
          justify-content: center;
          transition: all 0.5s ease-out;
          button {
            width: 100%;
            padding: 0.85rem 0;
            border: none;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 50rem;
            cursor: pointer;
            font-size: 1.2rem;
            font-family: inherit;
            font-weight: 800;
            letter-spacing: 1px;
            background-color: #f54642;
            color: white;
          }
        }
      }
    }
    .mouse-enter {
      transition: none;
      .sneaker {
        transform: translateZ(100px) rotate(-45deg);
      }
      .info {
        .title {
          transform: translateZ(60px);
        }
        .description {
          transform: translateZ(50px);
        }
        .sizes {
          transform: translateZ(45px);
        }
        .purchase {
          transform: translateZ(40px);
        }
      }
    }
    .mouse-leave {
      transition: all 0.5s ease-out;
      transform: rotateY(0deg) rotateX(0deg) !important;
    }
  }
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
